__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
myenv/
venv/
env/
.venv/

.env
.env.*

*.db
instance/

.flaskenv

.vscode/

.idea/

.DS_Store

Thumbs.db
Desktop.ini

build/
dist/
*.egg-info/

*.log

.pytest_cache/
.mypy_cache/
.cache/

.ipynb_checkpoints/

.coverage
htmlcov/