body{
    background:#f4f6f9;
    font-family:Arial, Helvetica, sans-serif;
}

.navbar{
    box-shadow:0 2px 10px rgba(0,0,0,.1);
}

.card{
    border:none;
    border-radius:12px;
}

h2{
    color:#333;
    font-weight:600;
}

.btn{
    border-radius:8px;
}

.table{
    margin-top:20px;
}

.table thead{
    background:#212529;
    color:white;
}

.form-control{
    border-radius:8px;
}

.alert{
    border-radius:8px;
}